@model IEnumerable<SeatonFinalProject.Models.Customer>

@{
    ViewBag.Title = "Report";
}

@RenderPage("~/Views/Shared/_reportHeader.cshtml")

@if (ViewBag.reportStatus != null)
{
    <h2>Report Result: @ViewBag.reportStatus</h2>
}

@if (Model != null)
{
    int totCurrentSales = 0;
    int totPreviousSales = 0;
    
    <table class="table">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>State</th>
            <th>Sales Year to Date</th>
            <th>Previous Sales</th>
        </tr>
        @{
    foreach (var item in Model)
    {
       
        <tr>
            <td>@item.Id</td>
            <td>@item.CustFirstName</td>
            <td>@item.CustLastName</td>
            <td>@item.CustState</td>
            <td>@item.CustSalesYTD</td>
            <td>@item.CustSalesPrevious</td>
        </tr>
            
        totCurrentSales = totCurrentSales + @item.CustSalesYTD;
        totPreviousSales = totPreviousSales + @item.CustSalesPrevious;
    }
        }

    </table>
    <h4>Total Current Sales for criteria: $@totCurrentSales</h4>
    <h4>Total Previous Sales for criteria: $@totPreviousSales</h4>
}